{% extends 'mainapp/temel.html' %}
{% load i18n %}

{% block content %}
<main role="main">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators ">
            <li data-target="#myCarousel" data-slide-to="0" class="active bg-info"></li>
            <li data-target="#myCarousel" data-slide-to="1" class="bg-info"></li>
        </ol>
        <div class="carousel-inner ">
            <div class="carousel-item active">
                <img class="first-slide" src="/static/ea1_2.jpg" alt="First slide">
                <div class="container ">
                    <div class="carousel-caption text-left">
                        <h1 class="font-italic">{% trans "Estetik ve Kozmetik Dermatoloji" %}</h1>
                        <p class="lead">{% trans "Merhaba ben Dermatoloji Uzmanı Dr. Ersin Aydın.<br>Güzelliğinizi yeniden tanımlamaya hazır mısınız?<br>Bıçak altına yattığınız ve bir çok zahmete katlandığınız günler eskide kaldı.<br>Cidinizi yenileyerek güzelliğinizi öne çıkarmak ve kendi yaşınızız en genci olmak için sizleri bekliyoruz." %}</p>
                        <p><a class="btn btn-lg btn-primary" href="{% url 'mainapp:iletisim'%}" role="button">{% trans "İletişim için Tıklayınız." %}</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="first-slide" src="/static/ea1.jpg" alt="First slide">
                <div class="container ">
                    <div class="carousel-caption text-left">
                        <h1 class="font-italic">{% trans "Estetik ve Kozmetik Dermatoloji" %}</h1>
                        <p class="lead">{% trans "Merhaba ben Dermatoloji Uzmanı Dr. Ersin Aydın.<br>Güzelliğinizi yeniden tanımlamaya hazır mısınız?<br>Bıçak altına yattığınız ve bir çok zahmete katlandığınız günler eskide kaldı.<br>Cidinizi yenileyerek güzelliğinizi öne çıkarmak ve kendi yaşınızız en genci olmak için sizleri bekliyoruz." %}</p>
                        <p><a class="btn btn-lg btn-primary" href="{% url 'mainapp:iletisim'%}" role="button">{% trans "İletişim için Tıklayınız." %}</a></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev " href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon " aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next " href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon " aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="container">
        <div class="row featurette my-3 py-3">
            <div class="col-md-12 my-3">
                <h1 class="featurette-heading font-italic text-center my-3">{% trans "TANI VE TEDAVİSİ YAPILAN DURUMLAR" %}</h1>
                <p class="lead text-justify mt-5">{% trans "Yaygın durumdan komplekse kadar tüm cilt durumlarını teşhis ediyor ve tedavi ediyoruz. Uygulamalarımız iki bölüme ayrılıyor. Estetik ve Kozmetik Dermatoloji ile Genel Dermatoloji (Cilt Hastalıkları)." %}</p>
            </div>
        </div>
        <div class="row featurette my-3 py-3">
            <div class="col-md-12 mb-5">
                <h2 class="featurette-heading font-italic">{% trans "Estetik ve Kozmetik Dermatoloji" %}</h2>
            </div>
            <div class="row w-100">
                <div class="col-md-4">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item list-group-item-action"><a href="{% url 'mainapp:uygulamalar2'%}">{% trans "Kırışıklık Tedavisi" %}</a></li>
                        <li class="list-group-item list-group-item-action"><a href="{% url 'mainapp:uygulamalar9'%}">{% trans "Lazer Uygulamaları" %}</a></li>
                        <li class="list-group-item list-group-item-action"><a href="{% url 'mainapp:uygulamalar12'%}">{% trans "Diş Sıkma Tedavisi" %}</a></li>
                        <li class="list-group-item list-group-item-action"><a href="{% url 'mainapp:uygulamalar13'%}">{% trans "İp Uygulaması" %}</a></li>
                        <li class="list-group-item list-group-item-action"><a href="{% url 'mainapp:uygulamalar14'%}">{% trans "Dolgu Uygulamaları" %}</a></li>
                        <li class="list-group-item list-group-item-action"><a href="{% url 'mainapp:uygulamalar15'%}">{% trans "Saç Mezoterapisi" %}</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item list-group-item-action"><a href="{% url 'mainapp:uygulamalar4'%}">{% trans "Somon DNA Aşısı" %}</a></li>
                        <li class="list-group-item list-group-item-action"><a href="{% url 'mainapp:uygulamalar10'%}">{% trans "Cosmelan-Dermamelan Leke Tedavisi" %}</a></li>
                        <li class="list-group-item list-group-item-action"><a href="{% url 'mainapp:uygulamalar3'%}">{% trans "El ve Koltuk Altı Terleme Tedavisi" %}</a></li>
                        <li class="list-group-item list-group-item-action"><a href="{% url 'mainapp:uygulamalar16'%}">{% trans "Fraksiyonel Radyofrekans (Altın iğne)" %}</a></li>
                        <li class="list-group-item list-group-item-action"><a href="{% url 'mainapp:uygulamalar17'%}">{% trans "Roller ve Dermapen" %}</a></li>
                        <li class="list-group-item list-group-item-action"><a href="{% url 'mainapp:uygulamalar18'%}">{% trans "PRP (Platelet Rich Plasma)" %}</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item list-group-item-action"><a href="{% url 'mainapp:uygulamalar5'%}">{% trans "Aqualpeel" %}</a></li>
                        <li class="list-group-item list-group-item-action"><a href="{% url 'mainapp:uygulamalar11'%}">{% trans "Peeling" %}</a></li>
                        <li class="list-group-item list-group-item-action"><a href="{% url 'mainapp:uygulamalar19'%}">{% trans "Cilt Bakımı" %}</a></li>
                        <li class="list-group-item list-group-item-action"><a href="{% url 'mainapp:uygulamalar20'%}">{% trans "Mezoterapi" %}</a></li>
                        <li class="list-group-item list-group-item-action"><a href="{% url 'mainapp:uygulamalar21'%}">{% trans "Leke Tedavisi" %}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row featurette my-5 py-3">
            <div class="col-md-12 mb-5">
                <h2 class="featurette-heading">{% trans "Genel Dermatoloji (Cilt Hastalıkları)" %}</h2>
            </div>
            <div class="row w-100">
                <div class="col-md-4">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item list-group-item-action"><a href="{% url 'mainapp:uygulamalar6'%}">{% trans "Akne (Sivilce)" %}</a></li>
                        <li class="list-group-item list-group-item-action"><a href="{% url 'mainapp:uygulamalar22'%}">{% trans "Behçet Hastalığı" %}</a></li>
                        <li class="list-group-item list-group-item-action"><a href="{% url 'mainapp:uygulamalar23'%}">{% trans "Cinsel Yolla Bulaşan Hastalıklar" %}</a></li>
                        <li class="list-group-item list-group-item-action"><a href="{% url 'mainapp:uygulamalar24'%}">{% trans "Cilt Benleri" %}</a></li>
                        <li class="list-group-item list-group-item-action"><a href="{% url 'mainapp:uygulamalar25'%}">{% trans "Cilt Kanserleri" %}</a></li>
                        <li class="list-group-item list-group-item-action"><a href="{% url 'mainapp:uygulamalar26'%}">{% trans "Ekzema" %}</a></li>
                        <li class="list-group-item list-group-item-action"><a href="{% url 'mainapp:uygulamalar27'%}">{% trans "Siğil (Verrü)" %}</a></li>
                        <li class="list-group-item list-group-item-action"><a href="{% url 'mainapp:uygulamalar28'%}">{% trans "Ürtiker (Kurdeşen)" %}</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item list-group-item-action"><a href="{% url 'mainapp:uygulamalar7'%}">{% trans "Genital Siğil" %}</a></li>
                        <li class="list-group-item list-group-item-action"><a href="{% url 'mainapp:uygulamalar29'%}">{% trans "Güneşten Korunma" %}</a></li>
                        <li class="list-group-item list-group-item-action"><a href="{% url 'mainapp:uygulamalar30'%}">{% trans "Herpes Simpleks Enfeksiyonu (Uçuk)" %}</a></li>
                        <li class="list-group-item list-group-item-action"><a href="{% url 'mainapp:uygulamalar31'%}">{% trans "Hiperhidrozis (Aşırı terleme)" %}</a></li>
                        <li class="list-group-item list-group-item-action"><a href="{% url 'mainapp:uygulamalar32'%}">{% trans "Hipertrofik Skar/ Keloid" %}</a></li>
                        <li class="list-group-item list-group-item-action"><a href="{% url 'mainapp:uygulamalar33'%}">{% trans "Liken Planus" %}</a></li>
                        <li class="list-group-item list-group-item-action"><a href="{% url 'mainapp:uygulamalar34'%}">{% trans "Tırnak Hastalıkları" %}</a></li>
                        <li class="list-group-item list-group-item-action"><a href="{% url 'mainapp:uygulamalar35'%}">{% trans "Vitiligo" %}</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item list-group-item-action"><a href="{% url 'mainapp:uygulamalar8'%}">{% trans "Mantar Hastalıkları" %}</a></li>
                        <li class="list-group-item list-group-item-action"><a href="{% url 'mainapp:uygulamalar36'%}">{% trans "Pitriazis Rosea" %}</a></li>
                        <li class="list-group-item list-group-item-action"><a href="{% url 'mainapp:uygulamalar37'%}">{% trans "Psoriazis (Sedef Hastalığı)" %}</a></li>
                        <li class="list-group-item list-group-item-action"><a href="{% url 'mainapp:uygulamalar38'%}">{% trans "Roza Hastalığı (Gül hastalığı, Gülleme)" %}</a></li>
                        <li class="list-group-item list-group-item-action"><a href="{% url 'mainapp:uygulamalar39'%}">{% trans "Saç Hastalıkları" %}</a></li>
                        <li class="list-group-item list-group-item-action"><a href="{% url 'mainapp:uygulamalar40'%}">{% trans "Saç Dökülmesi" %}</a></li>
                        <li class="list-group-item list-group-item-action"><a href="{% url 'mainapp:uygulamalar41'%}">{% trans "Zona Zoster (gece yanığı)" %}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="jumbotron p-3 p-md-5 my-3 bg-white rounded text-center ">
            <div class="col-md-10 p-0 my-0 mx-auto">
                <h1 class="display-4 font-italic border-bottom">{% trans "Basında Dr. Ersin AYDIN" %}</h1>
            </div>
        </div>
        <div id="myCarousel2" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators ">
                <li data-target="#myCarousel2" data-slide-to="0" class="active bg-info"></li>
                <li data-target="#myCarousel2" data-slide-to="1" class="bg-info"></li>
                <li data-target="#myCarousel2" data-slide-to="2" class="bg-info"></li>
                <li data-target="#myCarousel2" data-slide-to="3" class="bg-info"></li>
            </ol>
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <img class="first-slide" src="/static/bslide1.jpg" alt="First slide">
                    <div class="container ">
                        <div class="carousel-caption text-left">
                            <p><a class="btn btn-lg btn-primary" href="https://youtu.be/bYvl9MC0jRs" role="button">{% trans "İzlemek için Tıklayınız." %}</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="second-slide" src="/static/bslide2.jpg" alt="Second slide">
                    <div class="container ">
                        <div class="carousel-caption text-left">
                            <p><a class="btn btn-lg btn-primary" href="https://youtu.be/r07dZpVXvcM" role="button">{% trans "İzlemek için Tıklayınız." %}</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="third-slide" src="/static/sld3.jpg" alt="Third slide">
                    <div class="container ">
                        <div class="carousel-caption text-left">
                            <p><a class="btn btn-lg btn-primary" href="https://naturelbotoks.com/" role="button">{% trans "Ziyaret için Tıklayınız." %}</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="fourth-slide" src="/static/bslide4.jpg" alt="Fourth slide">
                    <div class="container ">
                        <div class="carousel-caption text-left">
                            <p><a class="btn btn-lg btn-primary" href="https://youtu.be/3vc5m163ibo" role="button">{% trans "İzlemek için Tıklayınız." %}</a></p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev " href="#myCarousel2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon bg-info" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next " href="#myCarousel2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon bg-info" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="jumbotron p-3 p-md-5 my-3 bg-white rounded text-center ">
        <div class="col-md-10 p-0 my-0 mx-auto">
            <h1 class="display-4 font-italic border-bottom">{% trans "DANIŞAN GÖRÜŞLERİ" %}</h1>
        </div>
        <div class="col-md-10 px-0 mx-auto">
            <div class="row featurette my-5 ">
                <div class="col-md-5 order-md-2 mx-auto text-justify">
                    <p class="lead">{% trans "<br>Merhaba ben xxx,<br> Diş sıkma problemim vardı ve beni çok rahatsız ediyordu. Ersin beyi tavsiye ettiler. Kısa sürede ağrısız bir uygulama sonucu problemim ortadan kalktı. Çok memnun kaldım.<br>Herkese tavsiye ediyorum." %}</p>
                    <p class="lead"><a href="{% url 'mainapp:danisan_yorum'%}" class="">{% trans "Diğer Yorumlar için Tıklayınız..." %}</a></p>
                </div>
                <div class="col-md-6 order-md-1">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bBSuIbqKfoo" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <hr class="featurette-divider my-5 bg-white">
        </div>
    </div>
</main>
{% endblock %}