{% extends 'mainapp/temel.html' %}
{% load i18n %}

{% block content %}
<main role="main" class="container">
    <div class="jumbotron p-3 p-md-5 my-3 bg-white rounded text-center ">
        <div class="col-md-10 p-0 my-0 mx-auto">
            <h1 class="display-4 font-italic border-bottom">{% trans "Basında Dr. Ersin AYDIN" %}</h1>
        </div>
    </div>
</main>
<div class="jumbotron p-3 p-md-5 text-white rounded bg-info">
    <div class="col-md-12 px-0">
        <h1 class="display-4 font-italic text-center">{% trans "Altın İğne Uygulaması (TV8)" %}</h1>
        <hr class="featurette-divider my-5 bg-white">
        <div class="row featurette my-5 ">
            <div class="col-md-6 order-md-1 mx-auto text-justify">
                <h2 class="featurette-heading">{% trans "Fraksiyonel Lazer ve Altın İğne Uygulaması" %}</h2>
                <p class="lead">{% trans "Tv8 Ekranlarında yayınlanan Çook Yaşa Programında Fraksiyonel Lazer ve Secret Altın İğne uygulamaları hakkında merak edilenleri konuştuk." %}</p>
            </div>
            <div class="col-md-6 order-md-2">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bYvl9MC0jRs" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <hr class="featurette-divider my-5 bg-white">
    <div class="col-md-12 px-0">
        <h1 class="display-4 font-italic text-center">{% trans "Natürel Botoks (TV8)" %}</h1>
        <hr class="featurette-divider my-5 bg-white">
        <div class="row featurette my-5 ">
            <div class="col-md-6 order-md-2 mx-auto text-justify">
                <h2 class="featurette-heading">{% trans "Natürel Botoks" %}</h2>
                <p class="lead">{% trans "Natürel Botoks, Hyalüronik Asit uygulamaları ve Cilt Gençleştirme yöntemleri hakkında merak edilenleri TV 8 ekranlarında yanıtladık." %}</p>
            </div>
            <div class="col-md-6 order-md-1">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-RNNtwnQ358" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <hr class="featurette-divider my-5 bg-white">
    <div class="col-md-12 px-0">
        <h1 class="display-4 font-italic text-center">{% trans "Masseter Botoks (TV8)" %}</h1>
        <hr class="featurette-divider my-5 bg-white">
        <div class="row featurette my-5 ">
            <div class="col-md-6 order-md-1 mx-auto text-justify">
                <h2 class="featurette-heading">{% trans "Masseter Botoks" %}</h2>
                <p class="lead">{% trans "Masseter Botoksunu, hem diş sıkma problemini tedavi etmek hem yüzde daha estetik, V şeklinde bir görüntü elde etmek için uyguluyoruz.              Günümüzde çeşitli nedenlere diş sıkma sorunu yaşayan oldukça çok sayıda kişi var ve kişiler bu sorunun farkında olmayabiliyor.                    Diş hekimlerine gittiklerinde diş hekimleri bu tanıyı koyuyorlar ve gece plağı ya da masseter botoks yapılmasını önerebiliyorlar.                    Masseter kasına uyguladığımız botoks sonrasında hastalarımız şikayetlerinin çok kısa süre içerisinde azaldığını ifade ediyorlar.                    Ayrıca yüzde kasın büyümesi nedeniyle oluşmuş kare görüntüsü de hafifliyor, yüzde daha estetik oval bir görüntü ortaya çıkabiliyor. Bu görüntü de hastalarımızı, danışanlarımızı oldukça mutlu ediyor." %}        </p>
            </div>
            <div class="col-md-6 order-md-2">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3vc5m163ibo" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <hr class="featurette-divider my-5 bg-white">
    <div class="col-md-12 px-0">
        <h1 class="display-4 font-italic text-center">{% trans "Natürel Botoks (CNN Türk)" %}</h1>
        <hr class="featurette-divider my-5 bg-white">
        <div class="row featurette my-5 ">
            <div class="col-md-6 order-md-2 mx-auto text-justify">
                <h2 class="featurette-heading">{% trans "Natürel Botoks" %}</h2>
                <p class="lead">{% trans "Naturel Botoks hakkında merak edilenleri CNN TURK ekranlarında anlattım." %}</p>
            </div>
            <div class="col-md-6 order-md-1">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/r07dZpVXvcM" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <hr class="featurette-divider my-5 bg-white">
</div>
{% endblock %}