{% extends 'mainapp/temel.html' %}
{% load i18n %}

{% block content %}
<main role="main" class="container">
    <div class="jumbotron p-3 p-md-5 my-3 bg-white rounded text-center ">
        <div class="col-md-10 p-0 my-0 mx-auto">
            <h1 class="display-4 font-italic border-bottom">Dermatoloji Uzmanı <br>Dr. Ersin AYDIN'ın Eğitim Videoları</h1>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-8 mx-auto">
            <p class="text-center h1">Bu bölüm yapım aşamasındadır.</p>
        </div>
    </div>
</main>
{% endblock %}