{% extends 'mainapp/temel.html' %}
{% load i18n %}

{% block content %}
<main role="main" class="container">
    <div class="jumbotron p-3 p-md-5 my-3 bg-white rounded text-center ">
        <div class="col-md-10 p-0 my-0 mx-auto">
            <h1 class="display-4 font-italic border-bottom">{% trans "Dermatoloji Uzmanı <br>Dr. Ersin AYDIN'ın Eğitim Videoları" %}</h1>
        </div>
    </div>
</main>
<div class="jumbotron p-3 p-md-5 text-white rounded bg-danger">
    <div class="col-md-12 px-0">
        <h1 class="display-4 font-italic text-center">{% trans "Fraxis Duo Nedir? Neler Yapılabilir?" %}</h1>
        <hr class="featurette-divider my-5 bg-white">
        <div class="row featurette my-5 ">
            <div class="col-md-6 order-md-1 mx-auto text-justify">
                <h2 class="featurette-heading">{% trans "Fraxis Duo Nedir? Neler Yapılabilir?" %}</h2>
                <p class="lead">{% trans "'Fraxis Duo Master Training' eğitiminde 'Fraxis Duo Nedir? Neler Yapılabilir?' konulu sunumumuzda, fraksiyonel lazer uygulamaları ile ilgili deneyim ve bilgilerimizi meslektaşlarımız ile paylaştık." %}</p>
            </div>
            <div class="col-md-6 order-md-2">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/QxQPfUPVWkw" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}