{% extends 'mainapp/temel.html' %}
{% load i18n %}

{% block content %}
<main role="main" class="container">
    <div class="jumbotron p-3 p-md-5 my-3 bg-white rounded text-center ">
        <div class="col-md-10 p-0 my-0 mx-auto">
            <h1 class="display-4 font-italic border-bottom">Dermatoloji Uzmanı Dr. Ersin AYDIN</h1>
        </div>
    </div>

    <div class="row featurette my-3">
        <div class="col-md-12 text-center">
            <img class="featurette-image img-fluid mx-auto w-50" src="/static/ea2.jpg" alt="Ersin Aydın">
            <h2 class="my-5">Hakkımda</h2>
            <p class="lead text-justify my-3">
                2008 yılında Gülhane Askeri Tıp Fakültesinde başladığım ihtisası 2012 yılında tamamlayarak Dermatoloji uzmanı oldum.
                Dermal Dolgu, Botilinum Toksin Uygulamaları, Fraksiyonel Lazer Tedavisi, Dermatoskopi, Saten Yüz Germe, FocusluRadyofrekans ile Yüz ve Vücut Gençleştirme, Thulium Lazer ile Melazma Tedavisi, 4 Boyutlu Antiaging Programı, Biolifting (Dolgu + Mezoterapi), Gözaltıışık Dolgusu, Peeling (Scar-Lifting), Nazolabial Dolgu,Pediatrik Dermatoloji, Temel Eksizyonel Cerrahi Teknikleri, Dermatoallerji, Plazma Enerjisi, PDO, PLA iplerle yüz germe, Dermatokozmetoloji, Her Yönüyle Saç, Her Yönüyle Tırnak eğitimlerini tamamlayarak sertifika sahibi oldum.
                <br><br>
                Ulusal ve uluslararası kongrelerde estetik ve kozmetik uygulamalarla ilgili eğitmenlik ve moderatörlük yaptım.
                <br><br>
                Ulusal ve uluslararası dergilerde yayınlanmış 30’un üzerinde makale, ulusal ve uluslararası bilimsel toplantılarda sunulmuş 40’ın üzerinde poster bildirim bulunmakta.  Aynı zamanda çok sayıda ulusal ve uluslararası dergilerde yayın hakemliği yaptım.
                <br><br>
                Estetik ve Kozmetik Dermatoloji Derneği, Türk Dermatoloji Derneği, Deri ve Zührevi Hastalıklar Derneği, Deri ve Zührevi Hastalıklar Derneği, Kozmetoloji ve Dermatoloji Akademisi Derneği, Ankara Deri ve Zührevi Hastalıklar Derneği, Türk Pediatrik Dermatoloji Derneği, Türk Tabipler Birliği - İstanbul Tabip Odası üyesiyim.
                Evli ve 2 çocuk babasıyım ve halen kendi kliniğinde hastalarıma hizmet vermekteyim.
            </p>
            <h2 class="my-5">Kurslar</h2>
            <p class="lead text-justify my-3">
                • 3rd INDERCOS National Dermatology & Cosmetology Congress with International Participants, “Hands-On Genital Aesthetic Course”, 15 March 2018, Istanbul<br>
                • Türk Dermatoloji Derneği Uzmanlık Sonrası Eğitim Kursu, Her Yönüyle Tırnak, 30. 04. 2017, Ankara<br>
                • IX. Dermatoloji & Dermatolopatoloji Sempozyumu, Dermal Dolgu, 24-26 Şubat 2017, Ankara<br>
                • IX. Dermatoloji & Dermatolopatoloji Sempozyumu, Dermatopatoloji, Nevüs & Melanoma, 24-26 Şubat 2017, Ankara<br>
                • 9 Uludağ Dermatokozmetoloji Günleri, Saten Yüz Germe, Focuslu Radyofrekans ile Yüz ve Vücut Gençleştirme, Thulium Lazer ile Melazma Tedavisi, 4 Boyutlu Antiaging Programı, Biolifting (Dolgu + Mezoterapi), Gözaltıışık Dolgusu, Peeling (Scar-Lifting) 9-12 Mart 2017, Bursa<br>
                • 2nd International Dermatology and Cosmatology Congress, PLA Sutures for Face Lift, İstanbul, 2016<br>
                • 2nd International Dermatology and Cosmatology Congress, Botilinum Toxin, Advanced Guide, İstanbul, 2016<br>
                • 2nd International Dermatology and Cosmatology Congress, Dermal Fillers for Lips and Nasolabial Folds, İstanbul, 2016<br>
                • 2nd International Dermatology and Cosmatology Congress, Plasma Energy and Needle Shaping, İstanbul, 2016<br>
                • 2nd International Dermatology and Cosmatology Congress, Dermal Fillers for Tear Trough and Malar Region, İstanbul, 2016<br>
                • 2nd International Dermatology and Cosmatology Congress, PDO Sutures for Face Lift, İstanbul, 2016<br>
                • 2nd International Dermatology and Cosmatology Congress, Fractional Laser Treatments, Advanced Guide, İstanbul, 2016<br>
                • Türk Dermatoloji Derneği Uzmanlık Sonrası Eğitim Kursu, Her Yönüyle Saç, 05-06.12.2015, İstanbul<br>
                • Pediatrik Dermatoloji Derneği, Pediatrik Dermatoloji Kursu, İstanbul, 30.05.2015<br>
                • XXIII. Ulusal Dermatoloji Kongresi, Dermatokozmetoloji Kursu, Antalya, 19.10.2010<br>
                • XXIII. Ulusal Dermatoloji Kongresi, Dermatoskopi Kursu, Antalya, 19.10.2010<br>
                • 5. Ulusal Dermatolojik Cerrahi Günleri, Temel Eksizyonel Cerrahi Teknikleri, İstanbul, 04.12.2014<br>
                • 5. Ulusal Dermatolojik Cerrahi Günleri, Botilinum Toksin Uygulamaları, İstanbul, 04.12.2014<br>
                • Dermatoallerji Kursu, Dermatoallerji Kursu, İstanbul, 03.05.2014<br>
                • Dermatoloji Bahar Sempozyumu, Dermatoallerji Kursu, Antalya, 09.04.2015<br>
                • XX. Prof. Dr. A. Lütfü Tat Sempozyumu, Uygulamalı Lazer Kursu, Ankara, 16.11.2011<br>
                • XXV. Ulusal Dermatoloji Kongresi, Dermatolojik Cerrahide Temel Teknikler Kursu, Antalya, 21.10.2014<br>
                • Bilimsel Araştırmalarda Hayvan Kullanım Kursu, Deney Hayvanları Kullanımı, Ankara, 21.11.2011<br>
            </p>
            <h2 class="my-5">Kongreler</h2>
            <p class="lead text-justify my-3">
                • 3rd INDERCOS National Dermatology & Cosmetology Congress with International Participants, Istanbul 14-17 March 2018, (Uluslararası)<br>
                • IDEA 2018 Congress : Dermatology & Dermatopatology & Esthetics Academy, Ankara, 8-11 Mart 2018, (Uluslararası)<br>
                • Estetik Yüz ve Burun Cerrahisi Derneği Ulusal Kongre & İstanbul Estetik Forum, İstanbul,16-18.02.2018<br>
                • IX. Dermatoloji & Dermatopatoloji Sempozyumu, Ankara, 24-26 Şubat 2017<br>
                • 9. Uludağ Dermatokozmetoloji Günleri, Bursa, 9-12 Mart 2017<br>
                • Estetik Yüz ve Burun Cerrahisi Derneği Ulusal Kongre & İstanbul Estetik Forum, İstanbul, 17-19.02.2017<br>
                • 2nd International Dermatology and Cosmatology Congress, İstanbul, 15-18 March 2016<br>
                • 26. Ulusal Dermatoloji Kongresi, Antalya, 19.10.2016-23.10.2016<br>
                • 1st International Dermatology and Cosmetology Congress, Dermatology and Cosmetology, Istanbul, 16.03.2016 -20.03.2016 (Uluslararası)<br>
                • Dermatoloji Bahar Sempozyumu, Kongre, Antalya, 09.04.2015 -12.04.2015<br>
                • Dermatolojide Yenileyici Hücre Tedavileri, Kök Hücre Tedavi Yöntemleri, İstanbul, 17.05.2015<br>
                • 8. Ulusal Dermatokozmetoloji Günleri, Kozmetoloji, Bursa, 01.03.2015-04.03.2015<br>
                • XXV. Ulusal Dermatoloji Kongresi, Dermatoloji Kongresi, Antalya, 21.10.2014 -25.10.2014<br>
                • 5. Ulusal Dermatolojik Cerrahi Günleri, Dermatolojik Cerrahi, İstanbul, 04.12.2014<br>
                • Her Yönüyle Edinsel Hiperpigmentasyon, İstanbul, 01.06.2014<br>
                • Dermatoloji Bahar Simpozyumu, Dermatoloji, İstanbul, 11.04.2013 -14.04.2013<br>
                • Prof. Dr. A. Lütfü Tat Sempozyumu, Dermatoloji, Ankara, 13.11.2013-17.11.2013<br>
                • 22nd Congress of the European Academy of Dermatology and Venerelogy, Dermatology, Istanbul, 02.10.2013-06.10.2013 (Uluslararası)<br>
                • Ulusal Dermatoloji Kongresi, Dermatoloji Kongresi, Antalya, 19.10.2010 -23.10.2010<br>
                • XX. Prof. Dr. A. Lütfü Tat Sempozyumu, Dermatoloji, Ankara, 16.11.2011-20.11.2011<br>
                • Dermatoloji Bahar Simpozyumu, İstanbul, 14.04.2009-17.04.200<br>
            </p>
            <h2 class="my-5">Yayınlar</h2>
            <p class="lead text-justify my-3">
                • Olfactory functions in patients with psoriasis vulgaris: correlations with the severity of the disease. Jun 2016. Archives for Dermatological Research.<br>
                • Erythrocyte zinc level in patients with atopic dermatitis and its relation to SCORAD index. Oct 2016. Postepy Dermatologii Alergologii<br>
                • Identification of Anger and Self-Esteem in Psoriasis Patients in a Consultation-Liaison Psychiatry Setting: A Case Control Study. Jan 2016. Bulletin of Clinical Psychopharmacology<br>
                • Evaluation of Hearing with Audiometry and Transient Evoked Otoacoustic Emission in Patients with Mild and Moderate Psoriasis. 2015. Gulhane Med J<br>
                • Behçet’s disease: The clinical and demographic characteristics of 182 patients. Sep 2014. Deri Hastaliklari ve Frengi Arsivi<br>
                • Methylenetetrahydrofolate reductase (MTHFR) 677C>T gene polymorphism as a possible factor for reducing clinical severity of psoriasis. Mar 2014 International Journal of Clinical and Experimental Medicine<br>
                • Relationship between skin prick and atopic patch test reactivity to aeroallergens and disease severity in children with atopic dermatitis. Oct 2013. Allergologia et Immunopathologia<br>
                • Besinlerle Yapılan Atopi Yama Testinin SCORAD İle İlişkisi. Jun 2013. Deri Hastaliklari ve Frengi Arsivi<br>
                • Genç Erkeklerde Becker Nevüs Prevalansı. Jun 2013. Deri Hastaliklari ve Frengi Arsivi<br>
                • Food Allergies in Patients with Atopic Dermatitis. Feb 2013. TAF preventive medicine bullletin<br>
                • The most common skin cancers and the risk factors in geriatric patients: A hospital based-controlled study. Dec 2015. Journal of Experimental and Clinical Medicine<br>
                • Efficacy of Omalizumab in a Patient with Angioedema Clinically Resembling a Hereditary Angioedema. Jun 2016. Annals of Dermatology<br>
                • A case of overlapping of Sturge Weber syndrome-Klippel Trenaunay syndrome and ophthalmological findings. Dec 2016. Deri Hastaliklari ve Frengi Arsivi<br>
                • Could aluminum be a new hidden allergen in type 1 hypersensitivity reactions when used as a drug additive? Jun 2016. Postepy Dermatologii I Alergologii<br>
                • Recurrent Toxocariasis Due to Chronic Urticaria and Successful Treatment with Prolonged Albendazole Therapy. Mar 2015. Turkiye parazitoloji dergisi<br>
                • Progesterone Skin Test in Severe Attacks of Angioedema during Menstrual Cycle. Oct 2014. Iranian journal of allergy, asthma, and immunology<br>
                • Bir Eğitim Araştırma Hastanesinde 1996–2012 yılları arasındaki sifilis olgularının değerlendirilmesi. Jun 2014. Deri Hastaliklari ve Frengi Arsivi<br>
                • A patient with steroids and antihistaminic drug allergy and newly occurred chronic urticaria angioedema: What about Omalizumab? Nov 2013. Human & Experimental Toxicology<br>
                • The role of systemic use of methotrexate on the oxidative stress in patients with psoriasis should be evaluated with a randomized controlled trial. Jun 2013. Archives for Dermatological Research<br>
                • Cold-induced urticaria with systemic reactions after hymenoptera sting lasting for 10 years. Nov 2012. Allergologia et Immunopathologia<br>
                • Sturge Weber Sendromu Klippel Trenaunay Sendromu Birlikteligi Olgusu ve Goz Bulgulari. Türkderm-Deri Hastalıkları ve Frengi Arşivi Dergisi. 2016<br>
                • Letter systemic therapy for psoriasis could affect the prevalence of NAFLD. June 2015. Alimentary Pharmacology & Therapeutics.<br>
                • Comment on Methylenetetrahydrofolate reductase C677T and A1298C polymorphisms and variations of homocysteine concentrations in patients with Behcet s disease. Jan 2014. Gene.<br>
                • An unusual garlic burn occurring on an unexpected area. April 2014. BMJ Case Reports.<br>
                • Hypersensitivity to lansoprazole with tolerance to other proton pump inhibitors Does cross reactivity between proton pump inhibitors really exist. March 2013. Allergol Immunopathol (Madr)<br>
                • Atopik Dermatitli Hastalarda Gıda Allerjileri. Ocak 2013. TSK Koruyucu Hekimlik Bülteni.<br>
                • Behçet Üveitinde İnterferon Alfa 2A Tedavisi ile İlişkili Eritema Multiforme Olgusu. Ekim 2013. Journal of Clinical and Analytical Medicine.<br>
                • Pustulosis palmaris et plantaris. May 2013. BMJ Case Reports.<br>
                • Ailesel bir Piebaldizm Olgusu. Aralık 2013. Journal of Clinical and Analytical Medicine.<br>
                • Dowling Degos Hastalığı. Mart 2013. Türk Dermatoloji Dergisi<br>
            </p>
        </div>
    </div>
</main>
{% endblock %}