{% extends 'mainapp/temel.html' %}
{% load i18n %}

{% block content %}
<main role="main" class="container">
    <div class="jumbotron p-3 p-md-5 my-3 bg-white rounded text-center ">
        <div class="col-md-10 p-0 my-0 mx-auto">
            <h1 class="display-4 font-italic border-bottom">İletişim</h1>
        </div>
    </div>
    <div class="row featurette my-3">
        <div class="col-md-10 text-center bg-success mx-auto">
            <h2 class="my-5">MAP konacak</h2>
        </div>
    </div>
    <div class="row featurette my-3">
        <div class="col-md-4 bg-info mx-auto">
            <h2 class="featurette-heading my-5">İrtibat Bilgileri</h2>
            <div class="col-md-12">
                <p><i class="fa fa-home fa-lg mr-3"></i><a class=""><i> Adres : Ataköy 7,8,9,10. Kısım Mah. Çobançeşme e-5 Yan yol Cad. Ataköy Towers 20/2 B-Blok Kat:15 Daire:157  Bakırköy/İstanbul</i></a></p>
                <p><i class="fa fa-mobile fa-lg mr-3"></i> <a class=""><i>Cep (Whatsapp) : 0 (541) 503 10 80</i></a></p>
                <p><i class="fa fa-phone fa-lg mr-3"></i> <a class=""><i>Telefon : 0 (212) 803 10 98</i></a></p>
            </div>
        </div>
        <div class="col-md-4 bg-warning mx-auto">
            <h2 class="featurette-heading my-5">Sosyal Medya</h2>
            <div class="col-md-12 ">
                <p><i class="fa fa-home fa-lg mr-3"></i><a class="" href="https://www.drersinaydin.com/tr/anasayfa">www.drersinaydin.com</a></p>
                <p><i class="fa fa-envelope fa-lg mr-3"></i><a class="">onlinedermataloji@gmail.com</a></p>
                <p><i class="fa fa-instagram fa-lg mr-3"></i><a class="" href="https://www.instagram.com/drersinaydin/">instgram</a></p>
                <p><i class="fa fa-youtube fa-lg mr-3"></i><a class="" href="https://www.youtube.com/channel/UCxNWa3ttu2Lmfrkxx5dTxJg">Youtube</a></p>
                <p><i class="fa fa-facebook-f fa-lg mr-3"></i><a class="" href="https://www.facebook.com/drersinaydin/"> Facebook</a></p>
            </div>
        </div>
    </div>
    <div class="row featurette my-3">
        <div class="col-md-10 text-center bg-success mx-auto">
            <h2 class="my-5">iletişim formu konacak</h2>
        </div>
    </div>
</main>
{% endblock %}