{% extends 'mainapp/temel.html' %}
{% load i18n %}

{% block content %}
<main role="main" class="container">
    <div class="jumbotron p-3 p-md-5 text-white rounded bg-info">
        <div class="col-md-12 my-3 px-0">
            <div class="row featurette my-5 ">
                <div class="col-md-6 order-md-2 mx-auto pt-5">
                    <h1 class="display-4 font-italic text-center">Lazer Uygulamaları</h1>
                    <hr class="featurette-divider my-5 bg-white">
                </div>
                <div class="col-md-4 order-md-1">
                    <img class="featurette-image img-fluid w-100" src="/static/lazer_uygulamalari.jpg" alt="iletişim">
                </div>
            </div>
            <div class="row featurette my-5 ">
                <p class="lead text-justify p-3">
                    Dövme Silme<br><br>
                    Q-swich lazerler kullanılır.
                    Q switch lazerler dövmenin, deriye zarar vermeden, dövme pigmentini parçalanarak dövmeyi siler.
                    Pigmentin yoğunluk ve rengine, dövmeler yapıldığı yere göre uygulanacak seans sayısı değişkenlik gösterebilir.<br><br>
                    Karbon Peeling<br><br>
                    Daha parlak ve sağlıklı bir cilt için Karbon peeling<br><br>
                    Karbon peeling nasıl yapılır?<br><br>
                    Bu uygulamada önce kişinin yüzüne karbon solüsyonu sürülür.
                    Sonrasında cilde sürülen bu karbon, Q-Anahtarlı Nd:YAG lazer ile silinir.<br><br>
                    Karbon peeling uygulama sırasında ağrı olur mu?<br><br>
                    İşlem sırasında hafif ısı dışında herhangi bir acı hissedilmez.<br><br>
                    Karbon peeling ne kadar sürer?<br><br>
                    Yaklaşık 10-15 dakika kadar<br><br>
                    Karbon peeling nasıl etki eder?<br><br>
                    Q-Anahtarlı Nd:YAG Lazer ışını sayesinde açığa çıkan ısı, kollajen ve elastin dokuda aktivasyona yol açar.
                    Böylece gözenekler daralır ve ciltte bir sıkılaşma meydana gelir.
                    Isıya bağlı olarak yağ bezlerinin fonksiyonları baskılanır ve yağ salgısı azalır.
                    Aynı zamanda lekelerde bulunan melanin adı verilen renk maddesi de parçalanarak
                    yüzeyesel lekelerin giderilmesi sağlanmış olur.<br><br>
                    Karbon peeiling yapıldıktan sonra deride deride bir soyulma olur mu?<br><br>
                    Uygulama kimyasal peeling işlemi olmadığı için deride bir soyulma olmaz.<br><br>
                    Karbon peeling ne için kullanılır?<br><br>
                    Gözeneklerin daraltılması<br><br>
                    Sivilce ve sivilce izlerinin tedavisi<br><br>
                    Cilt yağlanmasının azaltılması<br><br>
                    Yüzeysel kırışıklıkların açılması<br><br>
                    Cilt renginin daha canlı ve sağlıklı görünmesini sağlamak amacıyla kullanılır.<br><br>
                    Karbon peeling yaz mevsiminde uygulanabilir mi?<br><br>
                    Ciltte soyulmaya ve kızarıklığa yol açmayan bu işlem yazın da uygulanabilir.<br><br>
                    Karbon peeling yaptırdıktan sonra işime devam edebilir miyim?<br><br>
                    Uygulama sonrasında günlük yaşama dönülebilir.<br><br>
                    Hangi sıklıklarla karbon peeling yaptırmam gerekir?<br><br>
                    Etkili bir sonuç için işlemi, 2-3 haftalık aralıklarla, 5-6 seans uygulamak gerekir.
                    İhtiyaca göre uygulama sayısını artırmak gerekebilir.<br><br>
                    Karbon Peeling uygulamasının herhangi bir yan etkisi var mıdır?<br><br>
                    Ciltte herhangi bir hasar oluşmadığı için bir yan etkisi yoktur.<br><br>
                    Lazer Epilasyon<br><br>
                    Velüx tarama Lazer istenmeyen tüylerden kurtulmak için kullanılan bir lazer sistemidir.
                    Bu sistem 755nm ve 808 nm Diyot tarama teknolojisinin yeni üyeliği ve
                    bu sayede aynı anda iki dalga boyunda da da kuruluyor.
                    Lazer teknolojisi hedef kıl köküne verilir ve bu sayede isteğe bağlı epilasyon yoluyla.
                    Tarama özelliği ayarlama işlem süresi oldukça kısadır.Anestezi ya da jel kullanımı istemez.
                </p>
            </div>
            <div class="row featurette my-5 ">
                <div class="col-md-12 mx-auto pt-5">
                    <h1 class="display-4 font-italic text-center">Uygulamayı İzlemek için Videoyu Tıklayınız</h1>
                    <hr class="featurette-divider my-5 bg-white">
                </div>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/74e5yy3sHIo" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}