{% extends 'mainapp/temel.html' %}
{% load i18n %}

{% block content %}
<main role="main" class="container">
    <div class="jumbotron p-3 p-md-5 text-white rounded bg-info">
        <div class="col-md-12 my-3 px-0">
            <div class="row featurette my-5 ">
                <div class="col-md-6 order-md-2 mx-auto pt-5">
                    <h1 class="display-4 font-italic text-center">Aqualpeel</h1>
                    <hr class="featurette-divider my-5 bg-white">
                </div>
                <div class="col-md-4 order-md-1">
                    <img class="featurette-image img-fluid w-100" src="/static/aqualpeel.jpg" alt="iletişim">
                </div>
            </div>
            <div class="row featurette my-5 ">
                <p class="lead text-justify p-3">
                    Aquapeel içerisinde bulunan 3 adet değişik özellikdeki bileşimyonlarla 3 değişik aşamada medikal bir cilt bakımı yapar.
                    İlk ve ikinci aşamada vorteks vakumlama özelliği ile yüzeysel bir soyma yaparak gözeneklerin açılmasını yardımcı olur.
                    Üçüncü aşamada içeriğini yatıştırıcı ve nemlendirici. Toplamda 3 ile 5 seans arasında yapılır.</p>
            </div>
            <div class="row featurette my-5 ">
                <div class="col-md-12 mx-auto pt-5">
                    <h1 class="display-4 font-italic text-center">Uygulamayı İzlemek için Videoyu Tıklayınız</h1>
                    <hr class="featurette-divider my-5 bg-white">
                </div>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mqAs_E9dLNU" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}