{% extends 'mainapp/temel.html' %}
{% load i18n %}

{% block content %}
<main role="main" class="container">
    <div class="jumbotron p-3 p-md-5 text-white rounded bg-info">
        <div class="col-md-12 my-3 px-0">
            <div class="row featurette my-5 ">
                <div class="col-md-6 order-md-2 mx-auto pt-5">
                    <h1 class="display-4 font-italic text-center">Cosmelan-Dermamelan Leke Tedavisi</h1>
                    <hr class="featurette-divider my-5 bg-white">
                </div>
                <div class="col-md-4 order-md-1">
                    <img class="featurette-image img-fluid w-100" src="/static/cosmelan.jpg" alt="iletişim">
                </div>
            </div>
            <div class="row featurette my-5 ">
                <p class="lead text-justify p-3">
                    Cosmelan – Dermamelan Enzim Peeling nedir?

                                Ciltteki her tür lekenin giderilmesinde kullanılan, etkisi kanıtlanmış enzimatik bir leke açıcı sistemdir. İçerisinde leke açıcı özelliği taşıyan;

                    Azelaic asit
                    Kojic asit
                    Phytic Asit
                    Ascorbic Asit
                    Salisilik asit
                    Glikolik asit
                    Arbutin yer alır.
                    Cosmelan – Dermamelan Enzim Peeling avantajları nelerdir?

                    Her türlü cilt tipine, her mevsim uygulanabilir.
                    İçinde TCA gibi soyucu asitler olmadığı için yan etki riski minimumdur.
                    Ciltte herhangi bir yara oluşturmadığı için iyileşme sürecine gerek duymaz.
                    Kişiyi iş ve sosyal hayattan alıkoymadan lekelerden arınmış, daha parlak bir cilde kavuşturur.
                    Sıklıkla tek seanslık uygulama yeterlidir.
                    Cosmelan – Dermamelan Enzim Peeling nasıl etki eder?

                                Cilt renginin koyulaşmasında esas rol oynayan tirozinaz adı verilen enzimi baskılar. Böylece ciltteki melanin miktarını azaltarak lekeyi giderir. Yeni leke oluşumuna neden olan mekanizmayı da baskılar.

                    Cosmelan – Dermamelan Enzim Peeling nasıl uygulanır?

                               Cosmelan – Dermamelan sistemi kişiye özel paket halindedir. İçinde enzim peeling maskesi, devam kremi, onarıcı krem ve yüksek koruma faktörüne sahip güneş kremi yer alır. Maske, dermatolog tarafından tüm problemli bölgeye sürülür. Lekenin daha belirgin olduğu bölgelere daha çok uygulanır. Bu maske kişinin cilt yapısı ve lekenin derinliğine göre ortalama 8-12 saat uygulama bölgesinde kalır. Bu süre sonrasında ılık su ile temizlenir ve devam kremi, onarıcı krem ve güneş koruyucu doktorun önerdiği şekilde gün içerisinde uygulanmalıdır. Devam kreminin 6 ay düzenli kullanılması esastır. Güneş koruyucu ise yaz-kış sürekli kullanılmalıdır.

                    Doktorunuzun önerisine göre maskenin üçte biri 1 ay sonra tekrar uygulanabilir.

                    Cosmelan – Dermamelan Enzim Peeling uygulamasından sonra ciltte ne gözlenir?

                                Ciltte hafif kızarıklık olması normaldir. Özellikle hassas cildi olanlarda hafif kaşıntı, yanma, ödem, pullanma görülebilir. Devam kremi ve onarıcı krem ile bu bulgular azalır. Ortalama 2-7 gün içerisinde tüm bulgular ortadan kalkar. İş ve sosyal hayatı etkilemez.

                    Cosmelan – Dermamelan Enzim Peeling etkisi ne zaman görülür?

                                Maskenin uygulanmasından 1 hafta sonra lekelerde açılma başlar. 2-3 hafta sonrasında cilt çok daha sağlıklı, tazelenmiş ve parlak görülür. 3. hafta  sonunda lekelerin yaklaşık %80’i açılır. Ancak lekelerin tamamen açılması 4-6 hafta içerisinde gözlenir.

                    Cosmelan – Dermamelan Enzim Peeling kimlere uygulanabilir?

                                Her türlü cilt lekesine uygulanabilir. Bu lekeler içerisinde;

                    Melasma (Gebelik lekesi)
                    Güneş lekeleri
                    Yaşlılık lekeleri
                    Yanlış kozmetik kullanımına bağlı gelişen lekeler
                    İlaçlara (doğum kontrol hapları, vs) bağlı gelişen lekeler
                    Lazer ve cilt soyma işlemlerinden sonra gelişen lekeler
                    Yara iyileşmesi (yanık, sivilce, vs) sonrası gelişen lekeler yer alır.
                    Cosmelan – Dermamelan Enzim Peeling hangi bölgelere uygulanabilir?

                    Yüz,
                    Boyun ve dekolte,
                    El, kol ve bacaklar,
                    Sırt ve karın olmak üzere vücudun birçok bölgesindeki inatçı lekelere uygulanabilir.
                </p>
            </div>
            <div class="row featurette my-5 ">
                <div class="col-md-12 mx-auto pt-5">
                    <h1 class="display-4 font-italic text-center">Uygulamayı İzlemek için Videoyu Tıklayınız</h1>
                    <hr class="featurette-divider my-5 bg-white">
                </div>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/74e5yy3sHIo" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}