{% extends 'mainapp/temel.html' %}
{% load i18n %}

{% block content %}
<main role="main" class="container">
    <div class="jumbotron p-3 p-md-5 text-white rounded bg-info">
        <div class="col-md-12 my-3 px-0">
            <div class="row featurette my-5 ">
                <div class="col-md-6 order-md-2 mx-auto pt-5">
                    <h1 class="display-4 font-italic text-center">Mezoterapi</h1>
                    <hr class="featurette-divider my-5 bg-white">
                </div>
                <div class="col-md-4 order-md-1">
                    <img class="featurette-image img-fluid w-100" src="/static/mezoterapi.jpg" alt="iletişim">
                </div>
            </div>
            <div class="row featurette my-5 ">
                <p class="lead text-justify p-3">
                    Kadınlarda saç dökülmesi çok sık karşılaştığımız dermatolojik sorunlardan biridir.
                    Zamanında yapılan analizler ve uygun tedavilerle bu durum düzeltilebilmektedir.
                    Saç dökülmesi şikayeti olan bu hastamızı da tedavi amaçlı saç mezoterapisi uygulamaktayız.
                    Saç mezoterapisi saçlarda ki dökülmeyi durdurmaktadır.
                    Hasta tedaviden sonra gündelik yaşamına devam edebilmektedir.
                    Tedavi sonuçları 2-3. seanstan itibaren görülmeye başlar ve
                    2-3 haftalık aralıklarla 4-6 seanslık bir tedavi programı yeterli olur.
                </p>
            </div>
            <div class="row featurette my-5 ">
                <div class="col-md-12 mx-auto pt-5">
                    <h1 class="display-4 font-italic text-center">Uygulamayı İzlemek için Videoyu Tıklayınız</h1>
                    <hr class="featurette-divider my-5 bg-white">
                </div>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/74e5yy3sHIo" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}