{% extends 'mainapp/temel.html' %}
{% load i18n %}

{% block content %}
<main role="main" class="container">
    <div class="jumbotron p-3 p-md-5 text-white rounded bg-info">
        <div class="col-md-12 my-3 px-0">
            <div class="row featurette my-5 ">
                <div class="col-md-6 order-md-2 mx-auto pt-5">
                    <h1 class="display-4 font-italic text-center">El ve Koltuk Altı Terleme Tedavisi</h1>
                    <hr class="featurette-divider my-5 bg-white">
                </div>
                <div class="col-md-4 order-md-1">
                    <img class="featurette-image img-fluid w-100" src="/static/asiri_terleme.jpg" alt="iletişim">
                </div>
            </div>
            <div class="row featurette my-5 ">
                <p class="lead text-justify p-3">
                    Terleme Tedavisi; Koltuk altı ve el aşırı terlemesinde botoks uygulaması ile oldukça başarılı sonuçlar
                    elde edilmektedir. Zamanında yapılan tekrarlar tedavinin etkinliğini arttırır.
                    Terlemenin azalması kişinin sosyal ve psikolojik yaşantısına olumlu yansır.<br><br>
                    Uygulama nasıl yapılır?<br><br>
                    Terlemeyi durdurmak amacıyla koltuk altlarına çok az miktarda,
                    çok ince uçlu özel enjektörler yardımıyla botoks uygulanır.
                    Burada enjeksiyon kırışıklıkları gidermek amacıyla yapılan uygulamada olduğu gibi,
                    kaslar yerine cilt altına yapılmaktadır.<br><br>
                    Uygulama işlemi ne kadar sürer?<br><br>
                    Ortalama 5 dakikadır.<br><br>
                    Etkisini nasıl gösterir?<br><br>
                    Sinirler ve ter bezleri arasındaki iletişimi engeller. Bu sayede uygulandığı bölgede terlemeyi durdurur.<br><br>
                    Botoks ağrılı bir işlem midir?<br><br>
                    Uygulama esnasında minimal, tolere edilebilecek düzeyde ağrı hissedilebilir.
                    Bu ağrı işlem öncesi uygulanabilecek lokal anestezik kremlerle daha da hafifletilebilir.<br><br>
                    Etkisi ne zaman başlar? Ne kadar sürer?<br><br>
                    Uygulamayı takiben 2. Gün etkileri ortaya çıkmaya başlar. 4-6 ay devam eder.<br><br>
                    İşleminin herhangi bir yan etkisi var mıdır?<br><br>
                    Koltuk altında terlemenin durmasının hiçbir zararı yoktur.
                    Vücudumuzda yer alan diğer ter bezlerinin çalışmasında bir artış olmaz.
                    Enjeksiyon yapılan noktalarda kırmızılık, hafif şişlikler görülebilir ve kısa süre içerisinde geçer.
                    Botoks uygulaması alanında uzman doktorlar tarafından doğru noktalara yapıldığında bir sorun yaşamazsınız.<br><br>
                    Etkisi geçtiğinde önceki halime göre daha kötü olur muyum?<br><br>
                    Hayır. Uygulama öncesi duruma geri dönersiniz. Terlemede bir artış olmaz.<br><br>
                    Bir kere yaptırınca sürekli yaptırmak mı gerekir?<br><br>
                    Hayır. İşlemin etkisinin devam etmesi isteniyorsa 6 ayda veya yaz döneminde bir uygulama tekrarlanabilir.<br><br>
                    Herkese Botoks uygulanabilir mi?<br><br>
                    Nöromusküler rahatsızlıkları olan kişilerde, uygulama yapılacak bölgede deri hastalıkları olan kişilerde,
                    hamile veya emziren kadınlarda uygulanmamalıdır.<br><br>
                </p>
            </div>
            <div class="row featurette my-5 ">
                <div class="col-md-12 mx-auto pt-5">
                    <h1 class="display-4 font-italic text-center">Uygulamayı İzlemek için Videoyu Tıklayınız</h1>
                    <hr class="featurette-divider my-5 bg-white">
                </div>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/L9GCHBIdmB8" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}