{% extends 'mainapp/temel.html' %}
{% load i18n %}

{% block content %}
<main role="main" class="container">
    <div class="jumbotron p-3 p-md-5 text-white rounded bg-info">
        <div class="col-md-12 my-3 px-0">
            <div class="row featurette my-5 ">
                <div class="col-md-6 order-md-2 mx-auto pt-5">
                    <h1 class="display-4 font-italic text-center">Fraksiyonel Radyofrekans (Altın iğne)</h1>
                    <hr class="featurette-divider my-5 bg-white">
                </div>
                <div class="col-md-4 order-md-1">
                    <img class="featurette-image img-fluid w-100" src="/static/fraksiyonel.jpg" alt="fraksiyonel">
                </div>
            </div>
            <div class="row featurette my-5 ">
                <p class="lead text-justify p-3">
                    Altın İğne (Fraksiyonel Mikroiğneli Radyofrekans)<br><br>
                    "Altın İğne ile Cildiniz Yenilensin"<br><br>
                    Altın İğne Nedir?<br><br>
                    Radyofrekans (ısı) enerjisinin Secret Altın İğne Cihazı ile deri ve deri altına verilmesi ve
                    bu enerjiyle kontrollü bir hasar oluşturulması prensibine dayanan yeni bir teknolojik yöntemdir.<br><br>
                    Altın İğne Etkisini Nasıl Gösterir?<br><br>
                    Isı enerjisi cihazın başlığı üzerinde yer alan çok sayıda altın kaplamalı mikroiğneler aracılığıyla verilir.
                    Verilen bu ısı enerjisi ve iğneler yardımıyla açılan mikrokanallar sayesinde deri ve
                    deri altı dokuda doğal bir yeniden yapılanma süreci başlar.
                    Bu süreçte cildin farklı katmanlarında ve cilt altında yeni sentezlenen kollajen ve elastin sayesinde
                    cilt yüzeyindeki ince kırışıklıklarda azalma, gözeneklerde küçülme, ciltte toparlanma, lekelerde azalma,
                    yani daha genç bir görüntü meydana gelir. Cilt yüzeyinde termal bir hasar oluşmaz.<br><br>
                    Uygulama Nasıl Yapılır?<br><br>
                    Altın iğne cihazının başlığı, cilt yüzeyine temas ettirildiğide başlık üzerinde yer alan çok sayıda mikroiğneler,
                    derinin ve deri altı dokusunun istenen derinliğine kadar giriş yapar.
                    Uygulama yüz ve boyuna ya da vücutta etki oluşturmak istenen alanlara bu başlık ile yapılır.<br><br>
                    Altın İğne Tedavisi Ne Kadar Sürer?<br><br>
                    Ortalama 25-30 dakika kadar sürer.<br><br>
                    Altın İğne Ağrılı Bir İşlem midir?<br><br>
                    Uygulama esnasında ağrı hissedilebilir.
                    Bu ağrı işlem öncesi uygulanabilecek lokal anestezik kremlerle daha da hafifletilebilir.<br><br>
                    Kaç seans şeklinde uygulanır?<br><br>
                    İhtiyaca göre 2-3 seans olarak uygulanabilir.<br><br>
                    Seanslar arasında ne kadarlık bir süre olmalıdır?<br><br>
                    En az 4-6 hafta olmalıdır.<br><br>
                    Altın iğne yazın uygulanabilir mi?<br><br>
                    Evet cilt yüzeyinde bir hasar oluşmadığı için yazın da rahatlıkla yapılabilir.<br><br>
                    Altın İğne Hangi Amaçla Uygulanır?<br><br>
                    Sivilce, Sivilceye bağlı olarak oluşmuş izler, Vücut çatlaklarının hafifletilmesinde, Cilt gençleştirmede,
                    Leke tedavisinde, Cilt gözeneklerinin sıkılaştırılmasında, Ciltteki ton farklılıklarının giderilmesinde kullanılabilir.<br><br>
                    Etkisi Ne Zaman Başlar? Ne Kadar Sürer?<br><br>
                    Uygulamayı takiben 1 aydan sonra etkileri ortaya çıkmaya başlar.
                    Altın iğne sayesinde cildin kendi doğal yenilenmesi oluştuğu için etkileri yıllarca devam eder.<br><br>
                    İşleminin Herhangi Bir Yan Etkisi var mıdır?<br><br>
                    Uygulama yapılan noktalarda kırmızılık, hafif şişlikler görülebilir.
                    Bu durum da kısa süre içerisinde ve kendiliğinden geçmektedir.<br><br>
                    Altın İğne Tedavisinden Önce Dikkat Etmem Geren Bir Şey Var mı?<br><br>
                    Uygulama öncesinde alkollü içecekler tüketilmemeli, en az üç gün öncesinden;
                    ginko biloba, kan sulandırıcı ilaçlar, yeşil çay, aspirin ve non-steroid antiinflamatuvar (romatizmal) ilaçlar kesilmelidir.<br><br>
                    Uygulama Sonrası Nelere Dikkat Etmeliyim?<br><br>
                    Uygulama sonrasında 24 saat süresince sıcak su ile duş, sauna, yüzme ve egzersizden kaçınılması tavsiye edilir.
                </p>
            </div>
            <div class="row featurette my-5 ">
                <div class="col-md-12 mx-auto pt-5">
                    <h1 class="display-4 font-italic text-center">Uygulamayı İzlemek için Videoyu Tıklayınız</h1>
                    <hr class="featurette-divider my-5 bg-white">
                </div>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VGIx2jJHjxE" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}